<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name=""viewport" content=""width=device-width, initial-scale="1.0">
        <title>{{ title }}</title>
        
        <!-- Import Vega & Vega-Lite (does not have to be from CDN) -->
        <!-- these needed to be in the HEAD of the HTML document -->
        <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
        <!-- Import vega-embed -->
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

        <style>
            body {
                text-align: center;
            }
            div.container {
                width:400px;
                margin: 0 auto;
            }
            .love {
                font-size: 4em;
            }
        </style>

        <style media="screen">
            /* Add space between Vega-Embed links  */
            .vega-actions a {
            margin-right: 5px;
            }
        </style>

    </head>
    <body>
        {{ content | safe }}
    </body>
</html>