---
title: A page for you
layout: base.njk
---

<div class="container">
    <h1>This is a page for you!!!</h1>
    <div class="vibe">You are great!</div>
    <div class="love">
        ❤️
    </div>
</div>

<ul>
{% for Item in getTemps.Items %}
    <li>
        {{ Item.id }} | {{ Item.temperature }} | {{ Item.humidity }}
    </li>
{% endfor %}
</ul>

<header>
    <a href="/">Your page</a> | <a href="/about">About this page of yours</a>
</header>

<h1>Template for Embedding Vega-Lite Visualization</h1>
<!-- Container for the visualization -->
<div id="vis"></div>

<script>

  // Assign the viz specification to a local variable vlSpec.
  var vlSpec = {
    $schema: 'https://vega.github.io/schema/vega-lite/v5.json',
      data: {
        "values": [
          
          {% for Item in getTemps.Items %}
            // slice off the degree symbol and temperature scale char (C/F).
            // if it's not the last line of the dictionary, append a comma
            { "temp": "{{ Item.temperature.slice(0,-2) }}", "timestamp": "{{ Item.id }}" }{% if not loop.last %}, {% endif %}
          {% endfor %}
        ]
      },

          //{"temp": "A", "timestamp": 28}, {"temp": "timestamp", "timestamp": 55}, {"temp": "C", "timestamp": 43},
          //{"temp": "D", "timestamp": 91}, {"temp": "E", "timestamp": 81}, {"temp": "F", "timestamp": 53},
          //{"temp": "G", "timestamp": 19}, {"temp": "H", "timestamp": 87}, {"temp": "I", "timestamp": 52}
        
      
      mark: 'line',
        "encoding": {
          "x": {"field": "timestamp", "type": "nominal", "axis": {"labelAngle": 270} },
          //"y": {"field": "b", "type": "quantitative"}
          "y": {"field": "temp", "type": "quantitative"}
        }
  };

  // Embed the visualization in the container with id `vis`
  vegaEmbed('#vis', vlSpec);

</script>


<script src="/js/vibe.js"></script>
<script src="/js/getTemps.js"></script>
