---
title: A page for you
layout: base.njk
---

<div class="container">
    <h1>This is a page for you!!!</h1>
    <div class="vibe">You are great!</div>
    <div class="love">
        ❤️
    </div>
</div>

<ul>
{% for Item in getTemps.Items %}
    <li>
        {{ Item.id }} | {{ Item.temperature }} | {{ Item.humidity }}
    </li>
{% endfor %}
</ul>

<header>
    <a href="/">Your page</a> | <a href="/about">About this page of yours</a>
</header>
<script>
    {
  "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
  "description": "A simple line chart with embedded data.",
  "data": {
    "values": [
      {"a": "A", "b": 28}, {"a": "B", "b": 55}, {"a": "C", "b": 43},
      {"a": "D", "b": 91}, {"a": "E", "b": 81}, {"a": "F", "b": 53},
      {"a": "G", "b": 19}, {"a": "H", "b": 87}, {"a": "I", "b": 52}
    ]
  },
  "mark": "line",
  "encoding": {
    "x": {"field": "a", "type": "nominal", "axis": {"labelAngle": 0}},
    "y": {"field": "b", "type": "quantitative"}
  }
}
</script>

// vega-lite
<script src="https://cdn.jsdelivr.net/npm/vega@5.22.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.5.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.21.0"></script>

<script src="/js/vibe.js"></script>
<script src="/js/getTemps.js"></script>
